@use '../base/variable' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 117px;
    background-color: $color-black;
    height: calc(100vh - 91px);

    &__logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 70px;
    }

    &__copyright {
        position: absolute;
        bottom: 100px;
        width: 150px;
        transform: rotate(-90deg);
        font-size: $font-size-xsmall;
        font-weight: $font-weight-regular;
        color: $color-white;
    }
}