@use '../base/_variable' as *;

.nutrition-card {
    background: $background-graphic;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
    display: flex;
    gap: 24px;
    align-items: center;
    width: 258px;
    padding: 32px;

    &__content {
        &__value {
            font-size: 20px;
            font-weight: $font-weight-bold;
            line-height: 24px;
        }
        &__label {
            color: #74798C;
            font-size: 14px;
            font-weight: $font-weight-medium;
            line-height: 24px;
        }
    }
}

