@use '../base/variable' as *;

.barChartWrapper {
    position: relative;
	height: 320px;
	width: 100%;
	border-radius: .5rem;
	background-color: $background-graphic;

    &__title {
		top: 2rem;
		left: 3rem;
		position: absolute;
		font-size: 15px;
		font-weight: 500;
	}
}

.tooltip {
	display: block;
	padding: 4px 7px;
	background-color: red;
	color: white;
	font-size: 10px;
	line-height: 24px;
	text-align: center;
}