@use '../base/variable' as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;
    &__users {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}