@use './base/reset';
@use './base/variable' as *;

html, body {
    font-family: $font-family;
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
}