@use './base/_reset';
@use './base/_variable' as *;

html, body {
    font-family: $font-family;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.app {
    position: relative;
    height: 100%;
}

.content {
    position: relative;
    padding-left: 117px;
    padding-top: 90px;
    height: 100%;
}