// colors
$color-black: #000;
$color-white: #fff;
$background-graphic: #fbfbfb;


// font-family
$font-family: 'Roboto', sans-serif;

// font-size
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

// font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

